.main-div {
  display: flex;
  flex-direction: column;  
  justify-content: center;  
  align-items: center;             
  text-align: center;
}

.main-div button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #b042e7;
  color: white;
  cursor: pointer;
}

.input-field{
  width: 440px;
  height: 30px; 
  outline: auto;
  border: 2px;
  border-color: black;
  border-radius: 5px;
}

.main-div button:hover {
  background-color: #b042e7;
}
